<% if(successFlash && successFlash.length) { %>
    <!-- Checks to see if successFlash is present and if it has a length. If true the div shows up on the page, if successFlash isn't there, no div at all. -->
    <div class="flash successFlash">
        <%= successFlash%>
    </div>
    <% } %>
        <% if(errorFlash && errorFlash.length) { %>
            <div class="flash errorFlash">
                <%= errorFlash%>
            </div>
        <% } %>
