<footer>
  <nav id="footerNav">
    <table id="footerTable">
      <tr>
        <td class="footerItem">
          &#169 Adam Walker 2021
        </td>
        <td class="footerItem">
          <a href="https://nootuff.github.io/" target="_blank">My portfolio</a>
        </td>
        <td class="footerItem">
          <a href="https://github.com/Nootuff/Express-Dog-Project" target="_blank">View site code on GitHub <i
              class="fab fa-github"></i></a>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="footerItem">
          <a href="/users/contactPage"> Contact me </a>
        </td>
        <td class="footerItem">
          <a href="/users/privacyPolicy">Privacy policy</a>
        </td>
      </tr>
    </table>
  </nav>
</footer>