<footer>
    <nav id="footerNav">
        <table id="footerTable">
          <tr>
            <td>
              Copyright Adam Walker 2021
              </td>
            <td>
              <a href="https://nootuff.github.io/">My portfolio</a>
              </td>
            <td>
              <a href="https://github.com/Nootuff/Express-Dog-Project">View site code on GitHub <i class="fab fa-github"></i></a>
              </td>
            </tr>
          </table>
  
        <table>
          <tr>
            <td>
              Contact me 
              </td>
             <td>
              Privacy policy
              </td>
            </tr>
          </table>
        </nav>
</footer>