<footer>
    <nav id="footerNav">
        <table id="footerTable">
          <tr>
            <td>
              Copyright Adam Walker 2021
              </td>
            <td>
              My portfolio
              </td>
            <td>
              View site code on GitHub <i class="fab fa-github"></i>
              </td>
            </tr>
          </table>
  
        <table>
          <tr>
            <td>
              Contact me 
              </td>
             <td>
              Privacy policy
              </td>
            </tr>
          </table>
        </nav>
</footer>