<header>
    <p><a id="logo" href="/uploads"><span>d</span>og<span>B</span>ase</a></p>
    <div id="userInterface">
    <% if(!currentUser){ %>
    <p><a class="userCtrls userBtn" href="/users/login">Login</a> </p>
    <p><a class="userCtrls userBtn" href="/users/register">Register</a></p>
    <% } else { %> <!--If there is a current user present, render the user controls and new upload button. -->
        <div class="dropdown userCtrls">
        <button  class="nameBtn dropbtn" onclick="menuDrop()"><%= currentUser.displayName %></button>
        <div id="dropdownMenu" class="dropdown-content">
          <a href="/users/accountPage">Account Page</a>
          <a href="/users/edit">Change details</a>
          <a href="/users/logout">Logout</a>
        </div>
      </div>
      <img src="<%= currentUser.profileImage.url %>" alt="User profile image" onclick="menuDrop()" class="headerUserImg userCtrls dropbtn">
      <p><a class="userCtrls userBtn" href="/uploads/new">Upload New</a></p>
    <% } %>
  </div>
    </header>

