<header>
    <p><a id="logo" href="/"><span>d</span>og<span>B</span>ase</a></p>
    <div id="userInterface">
    <% if(!currentUser){ %>
    <div><a class="userCtrls userBtn" href="/users/login">Login</a></div>
    <div><a class="userCtrls userBtn" href="/users/register">Register</a></div>
    <% } else { %> <!--If there is a current user present, render the user controls and new upload button. -->
      <div><a class="userCtrls userBtn" href="/uploads/new">Upload New</a></div>
        <div class="dropdown userCtrls">
        <button  class="userBtn dropbtn" onclick="menuDrop()"><%= currentUser.displayName %></button>
        <div id="dropdownMenu" class="dropdown-content">
          <a href="/users/accountPage">Account Page</a>
          <a href="/users/edit">Change details</a>
          <a href="/users/logout">Logout</a>
        </div>
      </div>
    <% } %>
  </div>
    </header>

