<% layout("/boilerplate") %>

<main>
  <section>
<h1>Home page</h1>
</section>
<section>
  
  <ul id="indexList">
    <% for (var i=0; i < uploads.length; i++){ 
      var reFormat = uploads[i].image.url.replace("/upload", "/upload/w_200"); //Can this be moved to a external js file?
      %>
    <li id="indexItem">
      <h3><a href="/uploads/<%=uploads[i]._id %>"><%= uploads[i].title%></a></h3>
      <img class="indexImg" src="<%= reFormat %>" alt="Dog image">
    </li>
    <% } %>
    <ul>
</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>