<% layout("/boilerplate") %>

<main>
  <section>
<h1>Home page</h1>
<p>Have a list of thumb nails, medium sized & titles.</p>
<p>Don't just have a bunch of divs, <a href="https://www.w3schools.com/html/html5_semantic_elements.asp">use these</a> .</p>
</section>
<section>
  
  <ul id="indexList">
    <% for (var i=0; i < uploads.length; i++){ %>
    <li id="indexItem">
      <h3><a href="/uploads/<%=uploads[i]._id %>"><%= uploads[i].title%></a></h3>
    </li>
    <% } %>
    <ul>
</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
