<% layout("/boilerplate") %>

<main>
  <section>
<h1>Home page</h1>
</section>
<section>
  
  <ul id="indexList">
    <% for (var i=0; i < uploads.length; i++){ %>
    <li id="indexItem">
      <h3><a href="/uploads/<%=uploads[i]._id %>"><%= uploads[i].title%></a></h3>
      <img class="indexImg" src="<%= uploads[i].image %>" alt="Dog image">
    </li>
    <% } %>
    <ul>
</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
