<% layout("/boilerplate") %>

<main>
  <section>
<h1>Upload new dog</h1>
<p>Html form.</p>

<form action="/uploads" method="POST" novalidate class="validated-form"> <!-- This form creates a new product, the .post route it is linked to is in uploadRoutes.js. -->
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title here" required>
    <div class="noInput">Please enter a valid title</div> <!--https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/22291538#questions/13805266/ this is how it should look, these show when no te4xt entered--> 

    <label for="image">Image</label>
    <input type="text" id="image" name="image" placeholder="img url" required>
    <div class="noInput">Please enter a valid image</div>

    <label for="caption">Caption</label>
    <input type="text" id="caption" name="caption" placeholder="Caption here">
    <input type="submit" value="Submit">
</form>

</section>
</main>