<% layout("/boilerplate") %>

<main>
  <section>
<h1>Display page</h1>
<p>Larger image of the dog, text description, comments.</p>
<p>Don't just have a bunch of divs, <a href="https://www.w3schools.com/html/html5_semantic_elements.asp">use these</a> .</p>
</section>
<section>
  Title= <%= fetch.title %>
  </section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
