<% layout("/boilerplate") %>

<main>
  <section>
<h1>Upload new dog</h1>
<p>Html form.</p>

<form action="/upload" method="POST"> <!-- This form creates a new product, the .post route it is linked to is in app.js. -->
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title here">
    <input type="submit" value="Submit">
</form>

</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
