<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Dog Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styling.css">
    <!-- This works because of the app.use statment in app.js setting dirname to public-->
    <script src="https://kit.fontawesome.com/0db405f613.js"></script>
</head>

<body>
    <%- include("partials/header") %>
        <%- include("partials/flash") %>
            <%- body %>
</body>
<script src="/javascripts/validateForms.js">

</script>

</html>