<% layout("/boilerplate") %>
<div  id="pageContent">
    <div class="shortPageContainer">
        <div id="loginRegister">
    <p>An Error Has Occurred.</p>
    <p><a href="/uploads">Return to main page.</a></p>
    
    <p><b><%=err.message %></b></p>
    <!--
    <% if (process.env.NODE_ENV !== "production") { %> This checks to see what mode the app is in, if it's in production mode, triggering an error will only show the title, if we're in development mode, it will show the error stack with all the error details ang things.
     -->
    <p><b><%=err.stack %></b></p>
    <!--
    <% } %>
    -->
</div>
</div>
</div>