<!DOCTYPE html>
<html>
    <head>
        <title>whatever you want </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
<main>
  <section>
<h1>Home page</h1>
<p>Have a list of thumb nails, medium sized & titles.</p>
<p>Don't just have a bunch of divs, <a href="https://www.w3schools.com/html/html5_semantic_elements.asp">use these</a> .</p>
</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
</html>