:root {
  --blue-color: #4188fa;
  --light-grey-color: #d8e0e6;
  --red-color: #ff3838;
  --green-color: #07be1f;
  --dark-grey-color: #242424;
}

/* This code prevents the contents of the page being wider than the window. */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  background-color: var(--light-grey-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--blue-color);
  width: 100%;
  padding: 0 15px;
  height: 170px;
}

main {
  margin: 190px auto 10px;
  padding: 0 15px;
  width: 90%;
}

a {
  text-decoration: none;
  color: #0067b0;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  border-top: 1px solid #242424;
}

#pageContent {
  border: 1px solid var(--light-grey-color);
  background-color: #ffffff;
  margin: auto;
  padding: 0 15px;
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 14px -6px #000000;
  box-shadow: 0px 3px 14px -6px #000000;
  box-sizing: border-box;
}

.imgContainer {
  text-align: center;
  width: 100%;
}

.shortPageContainer {
  margin-bottom: 200px;
}

.indexItem {
  border-radius: 4px;
  border: 1px solid var(--light-grey-color);
  background-color: white;
  padding: 5px 28px 10px;
  width: 90%;
  margin: 0 auto 15px;
}

.mainImg {
  border: 1px solid var(--light-grey-color);
  max-width: 80%;
}

#editImg {
  border: 1px solid var(--light-grey-color);
  max-width: 60%;
  margin: 10px 0;
}

#showMain {
  width: 97%;
  margin: auto;
}

/* Opinion section */

.opinionForm {
  float: left;
}

.opinionButton {
  float: left;
  border: none;
  font-size: 28px;
  cursor: pointer;
  background-color: white;
}

.opinionButton:focus {
  outline: 0;
}

.opinionButton:active {
  transform: scale(0.9);
}

.likes {
  color: var(--green-color);
  font-weight: bold;
}

.dislikes {
  color: var(--red-color);
  font-weight: bold;
}

.unlikeButton {
  color: var(--green-color);
}

.unDislikeButton {
  color: var(--red-color);
}

.favButton {
  padding: 3px 20px;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid var(--blue-color);
  border-radius: 70px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.favButton:hover {
  background-color: var(--blue-color);
  color: white;
}

.favForm {
  margin-top: 10px;
  float: left;
}

#caption {
  margin-top: 20px;
}

#editLink {
  margin: 20px 0;
}

#commentSection {
  width: 95%;
  margin: 35px auto;
}

.commentImg {
  width: 100px;
  border: 1px solid var(--light-grey-color);
  border-radius: 6px;
  margin-right: 15px;
}

.comment {
  margin: 10px 0;
  padding: 10px 0;
}

.comment:not(:last-child) {
  border-bottom: 1px solid #242424;
}

#contentForms {
  margin: 0 auto 50px;
  width: 90%;
}

.editTitle {
  margin-bottom: -0.5px;
}

#editCaption {
  margin-bottom: -20px;
}

#caption {
  margin-bottom: 20px;
}

#deletePost {
  margin: 17px 0;
}

#loginRegister {
  margin: 0 auto 32px;
  width: 90%;
}

#loginRegister input {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid var(--blue-color);
  border-radius: 3px;
  padding: 8px;
}

.flex-child:first-child {
  margin-right: 20px;
}

.userUpdate{
  margin-top: 10px;
}

.modeToggle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.modeToggle:active {
  transform: scale(0.9);
}

#darkMode{
  background-color: white;
  border: 12px solid var(--dark-grey-color);
}

.formButton {
  padding: 3px 20px;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #4188fa;
  border-radius: 70px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.formButton:hover {
  background-color: #4188fa;
  color: white;
}

#userPageImg{
  width: 170px;
  border-radius: 5px;
  border: 1px solid var(--light-grey-color);
}

#userPage{
  margin: 20px auto 1px;
  width: 90%;
}

#userDetailsSide{
  display: block;
}

.userListImg{
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--light-grey-color);
}


/* Footer styling */

footer {
  background-color: var(--blue-color);
  color: white;
  padding-top: 20px;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 100px;
}

nav table {
  margin: auto;
}

nav td {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

td:not(:first-child) {
  border-left: 1px solid white;
}

/* Header dropdown styles */

.dropbtn {
  background-color: #322bff;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #05008a;
}

/*User registration form */

/* The message box is shown when the user clicks on the password field */

#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
  color: var(--green-color);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
  color: var(--red-color);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2716";
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

input {
  outline: none;
  border-radius: 3px;
}

.requiredInput:invalid {
  border: 1px solid var(--red-color);
}

.requiredInput:valid {
  border: 1px solid var(--green-color);
}

.noInput {
  color: var(--red-color);
}

.flash {
  border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  color: white;
  margin: 10px auto;
}

.subFlash {
  width: 90%;
  margin: 10px auto;
}

.successFlash {
  width: 90%;
  background-color: var(--green-color);
}

.errorFlash {
  width: 90%;
  background-color: var(--red-color);
}