:root {
  --blue-color: #4188fa;
  --light-grey-color: #d8e0e6;
  --red-color: #ff3838;
  --green-color: #07be1f;
  --dark-grey-color: #242424;
  --white-color: #ffffff;
}

/* This code prevents the contents of the page being wider than the window. */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 15px;
  height: 130px;
}

#logo {
  color: white;
  font-family: 'Righteous', cursive, Tahoma;
  font-size: 70px;
}

#logo span {
  color: var(--red-color);
}

.userCtrls {
  display: inline-block;
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.userBtn {
  padding: 4px 16px;
  color: var(--white-color);
  font-size: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid var(--white-color);
  border-radius: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.nameBtn:hover, .userBtn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

#userInterface {
  margin-top: -70px;
}

/* Header dropdown styles */

.nameBtn {
  padding: 4px 16px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid var(--white-color);
  background-color: transparent;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.headerUserImg {
  height: 37px;
  border: 3px solid var(--white-color);
  border-radius: 5px 0px 0px 5px;
  margin-right: -3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 4px;
}

.dropdown-content a {
  color: black;
  font-size: 14px;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropped {
  display: block;
}

main {
  margin-top: 190px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0067b0;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  border-top: 1px solid #242424;
  margin-top: 20px;
}

.title{
  margin-left: 10px;
}

#pageContent {
  border: 1px solid var(--light-grey-color);
  margin: auto;
  padding: 0;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 14px -6px #000000;
  box-shadow: 0px 3px 14px -6px #000000;
  box-sizing: border-box;
}

.imgContainer {
  text-align: center;
  width: 100%;
}

.nonImgContainer{
  margin-left: 10px;
}

.shortPageContainer {
  margin-bottom: 200px;
}

.indexItem {
  border-radius: 4px;
  border: 1px solid var(--light-grey-color);
  padding: 5px 0px 10px;
  width: 100%;
  margin: 0 auto 15px;
}

.mainImg {
  border: 1px solid var(--light-grey-color);
  width: 100%;
}

#editImg {
  border: 1px solid var(--light-grey-color);
  max-width: 60%;
  margin: 10px 0;
}

#showMain {
 width: 100%
}





/* Opinion section of show page*/

.opinionForm {
  float: left;
}

.opinionButton {
  float: left;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.opinionButton:focus {
  outline: 0;
}

.opinionButton:active {
  transform: scale(0.9);
}

.likes {
  color: var(--green-color);
  font-weight: bold;
}

.dislikes {
  color: var(--red-color);
  font-weight: bold;
}

.unlikeButton {
  color: var(--green-color);
}

.unDislikeButton {
  color: var(--red-color);
}

.favButton {
  padding: 3px 20px;
  background-color: var(--white-color);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid var(--blue-color);
  border-radius: 70px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.favButton:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.favForm {
  margin-top: 10px;
  float: left;
}

#caption {
  width: 100%;
  margin-top: 20px;
}

#editLink {
  margin: 20px 0;
}

/*Comment styles */

#commentSection {
  width: 95%;
  margin: 35px auto;
}

.commentImg {
  width: 100px;
  border: 1px solid var(--light-grey-color);
  border-radius: 6px;
  margin-right: 15px;
}

.comment {
  margin: 10px 0;
  padding: 10px 0;
}

#contentForms {
  margin: 0 auto 50px;
  width: 90%;
}

.editTitle {
  margin-bottom: -0.5px;
}

#editCaption {
  margin-bottom: -20px;
}

#caption {
  margin-bottom: 20px;
}

#deletePost {
  margin: 17px 0;
}

#loginRegister {
  margin: 0 auto 32px;
  width: 90%;
}

#loginRegister input {
  margin-bottom: 10px;
}

.flex-container {
  display: block;
}

.flex-child {
  width: 90%;
  border: 2px solid var(--blue-color);
  border-radius: 3px;
  padding: 8px; 
}

.flex-child:first-child {
  margin-bottom: 20px;
}

.userUpdate {
  margin-top: 10px;
}

#editUserImg {
  width: 60%;
  border: 1px solid var(--light-grey-color);
  border-radius: 5px;
}

#modeToggle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}

#modeToggle:active {
  transform: scale(0.9);
}

.formButton {
  padding: 3px 20px;
  background-color: var(--white-color);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid var(--blue-color);
  border-radius: 70px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.formButton:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

#body {
  width: 40vw;
}

#userPageImg {
  width: 170px;
  border-radius: 5px;
  border: 1px solid var(--light-grey-color);
}

#userPage {
  margin: 20px auto 1px;
  width: 90%;
}

#userDetailsSide {
  display: block;
}

.userListImg {
  width: 150px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid var(--light-grey-color);
}

/* Footer styling */

footer {
  padding: 40px 0;
  width: 100%;
 /* height: 100px; */
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  font-size: 15px;
  text-align: center;
}

footer a {
  color: var(--white-color);
}

.footerItem:not(:first-child) {
  border-left: 1px solid var(--white-color);
}

nav table {
  margin: auto;
}

nav td {
  color: var(--white-color);
  padding-left: 10px;
  padding-right: 10px;
}

/*User registration form */

/* The message box is shown when the user clicks on the password field */

#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
  color: var(--green-color);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
  color: var(--red-color);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2716";
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

input {
  outline: none;
  border-radius: 3px;
}

.requiredInput:invalid {
  border: 1px solid var(--red-color);
}

.requiredInput:valid {
  border: 1px solid var(--green-color);
}

.noInput {
  color: var(--red-color);
}

.flash {
  border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  color: var(--white-color);
  margin: 10px auto;
}

.subFlash {
  width: 90%;
  margin: 10px auto;
}

.successFlash {
  width: 90%;
  background-color: var(--green-color);
}

.errorFlash {
  width: 90%;
  background-color: var(--red-color);
}

@media only screen and (min-width: 700px) {
  .flex-container {
    display: flex;
  }
  .flex-child {
    flex: 1;
    margin: 0;
    height: 400px;
  }

  .flex-child:first-child {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  main {
    margin: 190px auto 10px;
    padding: 0 15px;
    width: 90%;
  }

  #pageContent {
    padding: 0 15px;
    width: 90%;
  }

  .indexItem {
    padding: 5px 28px 10px;
    width: 90%;
  }
  
  #showMain {
    width: 98%;
    margin: auto;
   }

   .mainImg {
    max-width: 80%;
  }

  footer {
    font-size: 17px;
    text-align: left;
  }
}
