h1 {
color: #570000;
}

nav {
background-color: #96f8ff;
}

.navItem{
    color: #570000;
}

ul {
    list-style: none;
}

li{
    margin-bottom: 20px;
}

.indexImg{
    border: 1px solid red;
    width: 250px;
}

.noInput{
    color: red;
}

.successFlash{
  background-color: #42f55a;
  border-radius: 5px;
  padding: 7px;
}

.errorFlash{
  background-color: #ff3838;
  border-radius: 5px;
  padding: 7px;
}