<% layout("/boilerplate") %>
<div  id="pageContent">
    <div class="shortPageContainer">
        <div id="loginRegister">
            <h1>Contact me</h1>
            <p>Want to get in touch with me? Of course you do!</p>
<p>I can be reached on: <b>adamwalkerlondon@gmail.com</b></p>
</div>
</div>
</div>