<% layout("/boilerplate") %>

<main>
  <section>
<h1>Edit Your details</h1>
<form action="/users/updateUser?_method=PUT" method="POST"> 
    <h3>Change Display name</h3>
    <label for="displayName">Display name</label>
    <input type="text" id="displayName" name="user[displayName]" value="<%= user.displayName%>" placeholder="Display name">
    <br>
    <button >Update upload</button>
</form>
<!--Forget letting them edit password, just find some way to change the profile picture.-->
<form action="" method="POST" enctype="multipart/form-data" >
    <img src="<%= user.profileImage %>"  width="200">
    <h3>Change profile picture</h3>
    <label for="profileImage">Image</label><br>
    <input type="file" name="profileImage" id="profileImage" accept="image/*" >
    </form>
    <form action="" method="POST" enctype="multipart/form-data" >
        <button>Delete profile pic.</button>
        </form>
<br>

</section>
</main>