<% layout("/boilerplate") %>
<div id="noData" class="hidden subFlash flash errorFlash">Please enter login details</div>    
<div  id="pageContent">
    <div class="shortPageContainer">
        <h1>Login</h1>
        <form action="/users/login" method="POST" class="validated-form" novalidate>
            <div>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"  class="requiredInput" required><br>
            </div>
            <div>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"  class="requiredInput" required><br>
            </div>
            <button>Login</button>
        </form>
        <p>Don't have an account? Why not create one <a href="/users/register">here?</a></p>
    </div>
</div>