<% layout("/boilerplate") %>
<div  id="pageContent">
    <div class="shortPageContainer">
        <div id="loginRegister">
<h1>Privacy statment</h1>
<p>I only need your email for a future password retreival feature</p>
</div>
</div>
</div>