<% layout("/boilerplate") %>

<main>
  <section>
<h1>Userpage of "displayName" </h1>
<p>Username: <%= currentUser.username %></p>
<p>Email: <%= currentUser.email %></p>


-Way for user to change display name, user and email and password, need to find out how to change pass.
<br>
-Have the favourites on a seperate page.



</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>