<% layout("/boilerplate") %>

<main>
<p>The userpage display of the person whose name you clicked on.<br>Must be accessible from clicking on upload author and comment author, may need 2 seperate routes to do this, see if it can be done with one.</p>


</main>

</body>