<% layout("/boilerplate") %>

<main>
    <h2>Userpage of <%= user.username %></h2>

<p>The userpage display of the person whose name you clicked on.<br>Must be accessible from clicking on upload author and comment author, may need 2 seperate routes to do this, see if it can be done with one.</p>


<% for (var i=0; i < user.posts.length; i++){ %> 
    
    <p><%=user.posts[i].title %></p>
    
    <% } %>
 - Have small thumbnails of the images. 


</main>

</body>